# PyCity Schools Analysis

- In this School District Dataset, there are 40,000 students across 15 schools. In terms of district wide metrics, there average math score is 79%, the average reading score is 82%, and 75% of all students are passing math, while 86% of all students are passing reading.
-It is clear that there are problems in the district, because only 65% of students passed both math and reading. When looking at the highest performing schools in terms of both reading and math scores overall, it is clear that these schools are in the middle range of the budget, and the schools on the high end of the budget do not necessarily have the highest performance numbers.
-The top 5 Hgihest Performing Schools, as measured by Percentage Passing Both Math and Reading, have passing scores of greater than 90% for each school respectively. As the Chief Data Scientist of the District, I would be interested in improving the bottom performing schools, as measured by percentage overall passing marks. It is evident in this regard that Rodriguez High School, Figueroa High School, Huang High School, Hernandez High School and Johnson High School have passing rates of around 50% for each of the schools. In terms of the bigger picture of what is going on in each one of the schools, there are a lot of students in each school, between 3,000 and 5,000 students, and the total school budget is on the high end of the spectrum of the district numbers. The issue seems to be Mathematics Exams, as the average math score is 76%-77%. There is a higher percentage score for students passing reading versus students passing math. The 5 schools mentioned above, according to their administrations, have underperforming average scores for all grades 9 through 12, and all of the reading grades are in the low 80%'s.
  
---

In [276]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("/content/schools_complete.csv")
student_data_to_load = Path("/content/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## District Summary

In [277]:
# Calculate the total number of unique schools
school_count =school_data_complete.school_name.nunique()
school_count

15

In [278]:
# Calculate the total number of students
student_count = school_data_complete['Student ID'].nunique()
student_count

39170

In [279]:
# Calculate the total budget
total_budget = school_data_complete['budget'].sum()
total_budget

82932329558

In [280]:
# Calculate the average (mean) math score
average_math_score = school_data_complete.math_score.mean()
average_math_score

78.98537145774827

In [281]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete.reading_score.mean()
average_reading_score

81.87784018381414

In [282]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [283]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count/float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [284]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [285]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary =pd.DataFrame({"student_count": [student_count], "total_budget": [total_budget], "average_math_score":[average_math_score], "average_reading_score": [average_reading_score],"passing_math_count": [passing_math_count], "passing_math_percentage": [passing_math_percentage], "passing_reading_count": [passing_reading_count], "passing_reading_percentage": [passing_reading_percentage], "passing_math_reading_count": [passing_math_reading_count], "overall_passing_rate": [overall_passing_rate]})
# Formatting
district_summary["Total Students"] = district_summary["student_count"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["total_budget"].map("${:,.2f}".format)
# Display the DataFrame
district_summary

,student_count,total_budget,average_math_score,average_reading_score,passing_math_count,passing_math_percentage,passing_reading_count,passing_reading_percentage,passing_math_reading_count,overall_passing_rate,Total Students,Total Budget
0,39170,82932329558,78.985371,81.87784,29370,74.980853,33610,85.805463,25528,65.172326,"39,170","$82,932,329,558.00"

## School Summary

In [286]:
# Use the code provided to select all of the school types
school_types =school_data_complete["type"].value_counts()

In [287]:
# Calculate the total student count per school
per_school_counts =school_data_complete.groupby('school_name')["student_name"].count()
per_school_counts
per_school_counts1=[4976,1858,2949,2739,1468,4635,427,2917,4761,962,3999,1761,1635,2283,1800]

In [288]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete.groupby("school_name")["budget"].sum()
per_school_capita = per_school_budget/per_school_counts1
per_school_capita

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [289]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

In [290]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[
    (school_data_complete["math_score"] >= 70)]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [291]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [292]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [293]:
# Use the provided code to calculate the passing rates
#per_school_counts1 is the Output from per_school_counts:
per_school_passing_math = school_students_passing_math / per_school_counts1 * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts1 * 100

overall_passing_rate = (school_students_passing_math_and_reading / per_school_counts1) * 100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [294]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary =pd.DataFrame({"Total Students per School": per_school_counts, "Total School Budget": per_school_budget, "Per Capita Spending Per School": per_school_capita, "Math Scores per Schools": per_school_math, "Reading Scores per School": per_school_reading,"Students Passing Math": school_students_passing_math, "Students Passing Reading": school_students_passing_reading, "Passing Math and Reading": school_students_passing_math_and_reading})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Capita Spending Per School"] = per_school_summary["Per Capita Spending Per School"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary=per_school_summary.sort_values(by="Total School Budget",ascending=True)
per_school_summary

,Total Students per School,Total School Budget,Per Capita Spending Per School,Math Scores per Schools,Reading Scores per School,Students Passing Math,Students Passing Reading,Passing Math and Reading
school_name,,,,,,,,
Griffin High School,1468,"$1,346,890,000.00","$917,500.00",83.351499,83.816757,1371,1426,1330
Thomas High School,1635,"$1,705,517,550.00","$1,043,130.00",83.418349,83.848930,1525,1591,1487
Shelton High School,1761,"$1,860,672,600.00","$1,056,600.00",83.359455,83.725724,1653,1688,1583
Wright High School,1800,"$1,888,920,000.00","$1,049,400.00",83.682222,83.955000,1680,1739,1626
Rodriguez High School,3999,"$10,186,904,637.00","$2,547,363.00",76.842711,80.744686,2654,3208,2119
Holden High School,427,"$105,933,149.00","$248,087.00",83.803279,83.814988,395,411,381
Hernandez High School,4635,"$14,007,062,700.00","$3,022,020.00",77.289752,80.934412,3094,3748,2481
Johnson High School,4761,"$14,733,628,650.00","$3,094,650.00",77.072464,80.966394,3145,3867,2549
Bailey High School,4976,"$15,549,641,728.00","$3,124,928.00",77.048432,81.033963,3318,4077,2719
Cabrera High School,1858,"$2,009,159,448.00","$1,081,356.00",83.061895,83.975780,1749,1803,1697
Wilson High School,2283,"$3,012,587,442.00","$1,319,574.00",83.274201,83.989488,2143,2204,2068
Ford High School,2739,"$4,831,365,924.00","$1,763,916.00",77.102592,80.746258,1871,2172,1487
Figueroa High School,2949,"$5,557,128,039.00","$1,884,411.00",76.711767,81.158020,1946,2381,1569
Huang High School,2917,"$5,573,322,295.00","$1,910,635.00",76.629414,81.182722,1916,2372,1561
Pena High School,962,"$563,595,396.00","$585,858.00",83.839917,84.044699,910,923,871

## Highest-Performing Schools (by % Overall Passing)

In [295]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools =((school_students_passing_math_and_reading / per_school_counts1))
top_schools.sort_values(ascending=False)[0:5]

school_name
Cabrera High School    0.913348
Thomas High School     0.909480
Griffin High School    0.905995
Wilson High School     0.905826
Pena High School       0.905405
dtype: float64

## Bottom Performing Schools (By % Overall Passing)

In [296]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
top_schools =((school_students_passing_math_and_reading / per_school_counts1))
bottom_performing=top_schools.sort_values(ascending=True)[0:5]
bottom_performing
per_school_summary[per_school_summary.index.isin(["Rodriguez High School","Figueroa High School","Huang High School","Hernandez High School","Johnson High School"])]

,Total Students per School,Total School Budget,Per Capita Spending Per School,Math Scores per Schools,Reading Scores per School,Students Passing Math,Students Passing Reading,Passing Math and Reading
school_name,,,,,,,,
Rodriguez High School,3999,"$10,186,904,637.00","$2,547,363.00",76.842711,80.744686,2654,3208,2119
Hernandez High School,4635,"$14,007,062,700.00","$3,022,020.00",77.289752,80.934412,3094,3748,2481
Johnson High School,4761,"$14,733,628,650.00","$3,094,650.00",77.072464,80.966394,3145,3867,2549
Figueroa High School,2949,"$5,557,128,039.00","$1,884,411.00",76.711767,81.158020,1946,2381,1569
Huang High School,2917,"$5,573,322,295.00","$1,910,635.00",76.629414,81.182722,1916,2372,1561

## Math Scores by Grade

In [297]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grader_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"ninth_grader_math_scores":ninth_grader_math_scores,"tenth_grader_math_scores": tenth_grader_math_scores, "eleventh_grader_math_scores": eleventh_grader_math_scores, "twelfth_grader_math_scores":twelfth_grader_math_scores})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade=math_scores_by_grade.reset_index()
math_scores_by_grade[math_scores_by_grade["index"].isin(["Rodriguez High School","Figueroa High School","Huang High School","Hernandez High School","Johnson High School"])]

,index,ninth_grader_math_scores,tenth_grader_math_scores,eleventh_grader_math_scores,twelfth_grader_math_scores
2,Figueroa High School,76.403037,76.539974,76.884344,77.151369
5,Hernandez High School,77.438495,77.337408,77.136029,77.186567
7,Huang High School,77.027251,75.908735,76.446602,77.225641
8,Johnson High School,77.187857,76.691117,77.491653,76.863248
10,Rodriguez High School,76.859966,76.612500,76.395626,77.690748

## Reading Score by Grade

In [298]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grader_reading_scores =ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th":ninth_grader_reading_scores,"10th": tenth_grader_reading_scores, "11th": eleventh_grader_reading_scores, "12th": twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade=reading_scores_by_grade.reset_index()
reading_scores_by_grade[reading_scores_by_grade["index"].isin(["Rodriguez High School","Figueroa High School","Huang High School","Hernandez High School","Johnson High School"])]

                    index        9th       10th       11th       12th
2    Figueroa High School  81.198598  81.408912  80.640339  81.384863
5   Hernandez High School  80.866860  80.660147  81.396140  80.857143
7       Huang High School  81.290284  81.512386  81.417476  80.305983
8     Johnson High School  81.260714  80.773431  80.616027  81.227564
10  Rodriguez High School  80.993127  80.629808  80.864811  80.376426

## Scores by School Spending

In [299]:
# Establish the bins
spending_bins = [0,1000000.00, 2000000.00, 3000000.00, 4000000.00]
labels = ["$0MM","$1MM", "$2MM", "$3MM", "$4MM"]

In [300]:
# Create a copy of the school summary since it has the "Per Student Budget"
import numpy as np
school_spending_df = per_school_summary.copy()
school_spending_df.head()
percapitaarray=np.array(school_spending_df["Per Capita Spending Per School"])
school_spending_df["Per Capita Spending Per School"]
school_spending_df.head()

,Total Students per School,Total School Budget,Per Capita Spending Per School,Math Scores per Schools,Reading Scores per School,Students Passing Math,Students Passing Reading,Passing Math and Reading
school_name,,,,,,,,
Griffin High School,1468,"$1,346,890,000.00","$917,500.00",83.351499,83.816757,1371,1426,1330
Thomas High School,1635,"$1,705,517,550.00","$1,043,130.00",83.418349,83.848930,1525,1591,1487
Shelton High School,1761,"$1,860,672,600.00","$1,056,600.00",83.359455,83.725724,1653,1688,1583
Wright High School,1800,"$1,888,920,000.00","$1,049,400.00",83.682222,83.955000,1680,1739,1626
Rodriguez High School,3999,"$10,186,904,637.00","$2,547,363.00",76.842711,80.744686,2654,3208,2119

In [301]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"]=pd.Series(pd.cut(per_school_capita,spending_bins, labels))
school_spending_df["Spending Ranges (Per Student)"]
school_spending_df.head()
school_spending_df["% Passing Math"]=(school_spending_df["Students Passing Math"]/school_spending_df["Total Students per School"])*100
school_spending_df["% Passing Reading"]= (school_spending_df["Students Passing Reading"]/school_spending_df["Total Students per School"])*100
school_spending_df["% Overall Passing"]=(school_spending_df["Passing Math and Reading"]/school_spending_df["Total Students per School"])*100
school_spending_df.head()

,Total Students per School,Total School Budget,Per Capita Spending Per School,Math Scores per Schools,Reading Scores per School,Students Passing Math,Students Passing Reading,Passing Math and Reading,Spending Ranges (Per Student),% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,,,,
Griffin High School,1468,"$1,346,890,000.00","$917,500.00",83.351499,83.816757,1371,1426,1330,"(0.0, 1000000.0]",93.392371,97.138965,90.599455
Thomas High School,1635,"$1,705,517,550.00","$1,043,130.00",83.418349,83.848930,1525,1591,1487,"(1000000.0, 2000000.0]",93.272171,97.308869,90.948012
Shelton High School,1761,"$1,860,672,600.00","$1,056,600.00",83.359455,83.725724,1653,1688,1583,"(1000000.0, 2000000.0]",93.867121,95.854628,89.892107
Wright High School,1800,"$1,888,920,000.00","$1,049,400.00",83.682222,83.955000,1680,1739,1626,"(1000000.0, 2000000.0]",93.333333,96.611111,90.333333
Rodriguez High School,3999,"$10,186,904,637.00","$2,547,363.00",76.842711,80.744686,2654,3208,2119,"(2000000.0, 3000000.0]",66.366592,80.220055,52.988247

In [302]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Math Scores per Schools"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Reading Scores per School"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [303]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Math Scores by Spending Range": spending_math_scores, "Reading Scores by Spending Range": spending_reading_scores, "Percentage Passing Math by Spending Range": spending_passing_math, "Percentage Passing Reading by Spending Range": spending_passing_reading, "Percentage Overall Passing": overall_passing_spending})

# Display results
spending_summary

,Math Scores by Spending Range,Reading Scores by Spending Range,Percentage Passing Math by Spending Range,Percentage Passing Reading by Spending Range,Percentage Overall Passing
Spending Ranges (Per Student),,,,,
"(0.0, 1000000.0]",83.664898,83.892148,93.497607,96.445946,90.122387
"(1000000.0, 2000000.0]",80.904987,82.822740,83.556977,90.588593,76.762379
"(2000000.0, 3000000.0]",76.842711,80.744686,66.366592,80.220055,52.988247
"(3000000.0, 4000000.0]",77.136883,80.978256,66.496861,81.339570,53.902988

## Scores by School Size

In [304]:
# Establish the bins.
size_bins = [0, 1000, 2000, 3000,4000,5000]
labels = ["0", "1000", "2000", "3000","4000","5000"]
total_students=per_school_summary["Total Students per School"]

In [305]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =pd.cut(total_students,size_bins,labels)
per_school_summary

,Total Students per School,Total School Budget,Per Capita Spending Per School,Math Scores per Schools,Reading Scores per School,Students Passing Math,Students Passing Reading,Passing Math and Reading,School Size
school_name,,,,,,,,,
Griffin High School,1468,"$1,346,890,000.00","$917,500.00",83.351499,83.816757,1371,1426,1330,"(1000, 2000]"
Thomas High School,1635,"$1,705,517,550.00","$1,043,130.00",83.418349,83.848930,1525,1591,1487,"(1000, 2000]"
Shelton High School,1761,"$1,860,672,600.00","$1,056,600.00",83.359455,83.725724,1653,1688,1583,"(1000, 2000]"
Wright High School,1800,"$1,888,920,000.00","$1,049,400.00",83.682222,83.955000,1680,1739,1626,"(1000, 2000]"
Rodriguez High School,3999,"$10,186,904,637.00","$2,547,363.00",76.842711,80.744686,2654,3208,2119,"(3000, 4000]"
Holden High School,427,"$105,933,149.00","$248,087.00",83.803279,83.814988,395,411,381,"(0, 1000]"
Hernandez High School,4635,"$14,007,062,700.00","$3,022,020.00",77.289752,80.934412,3094,3748,2481,"(4000, 5000]"
Johnson High School,4761,"$14,733,628,650.00","$3,094,650.00",77.072464,80.966394,3145,3867,2549,"(4000, 5000]"
Bailey High School,4976,"$15,549,641,728.00","$3,124,928.00",77.048432,81.033963,3318,4077,2719,"(4000, 5000]"
Cabrera High School,1858,"$2,009,159,448.00","$1,081,356.00",83.061895,83.975780,1749,1803,1697,"(1000, 2000]"
Wilson High School,2283,"$3,012,587,442.00","$1,319,574.00",83.274201,83.989488,2143,2204,2068,"(2000, 3000]"
Ford High School,2739,"$4,831,365,924.00","$1,763,916.00",77.102592,80.746258,1871,2172,1487,"(2000, 3000]"
Figueroa High School,2949,"$5,557,128,039.00","$1,884,411.00",76.711767,81.158020,1946,2381,1569,"(2000, 3000]"
Huang High School,2917,"$5,573,322,295.00","$1,910,635.00",76.629414,81.182722,1916,2372,1561,"(2000, 3000]"
Pena High School,962,"$563,595,396.00","$585,858.00",83.839917,84.044699,910,923,871,"(0, 1000]"

In [306]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Math Scores per Schools"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Reading Scores per School"].mean()
per_school_summary["% Passing Math"]=per_school_summary["Students Passing Math"]/per_school_summary["Total Students per School"]
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
per_school_summary["% Passing Reading"]=per_school_summary["Students Passing Reading"]/per_school_summary["Total Students per School"]
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
per_school_summary["% Overall Passing"]=per_school_summary["Passing Math and Reading"]/per_school_summary["Total Students per School"]
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [307]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary =pd.DataFrame({"Math Score by School Size": size_math_scores, "Reading Scores by School Size": size_reading_scores, "Percentage Passing Math by School Size": size_passing_math, "Percentage Passing Reading by School Size": size_passing_reading, "Percentage Overall Passing Math and Reading": size_overall_passing})

# Display results
size_summary
per_school_summary1=pd.merge(per_school_summary, school_data_complete,on="school_name",how="outer")
per_school_summary1.columns

Index(['school_name', 'Total Students per School', 'Total School Budget',
       'Per Capita Spending Per School', 'Math Scores per Schools',
       'Reading Scores per School', 'Students Passing Math',
       'Students Passing Reading', 'Passing Math and Reading', 'School Size',
       '% Passing Math', '% Passing Reading', '% Overall Passing',
       'Student ID', 'student_name', 'gender', 'grade', 'reading_score',
       'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

## Scores by School Type

In [308]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary1.groupby(["type"])["math_score"].mean()
average_reading_score_by_type = per_school_summary1.groupby(["type"])["reading_score"].mean()
average_percent_passing_math_by_type = per_school_summary1.groupby(["type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary1.groupby(["type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary1.groupby(["type"])["% Overall Passing"].mean()

In [309]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =pd.DataFrame({'Average Math Score by School Type': average_math_score_by_type, "Average Reading Score by School Type": average_reading_score_by_type, "Average Percentage Passing Math by Type": average_percent_passing_math_by_type, "Average Percentage Passing Reading by Type": average_percent_passing_reading_by_type, "Average Percentage Passing by Type": average_percent_overall_passing_by_type})

# Display results
type_summary

,Average Math Score by School Type,Average Reading Score by School Type,Average Percentage Passing Math by Type,Average Percentage Passing Reading by Type,Average Percentage Passing by Type
type,,,,,
Charter,83.406183,83.902821,0.937018,0.966459,0.905609
District,76.987026,80.962485,0.665184,0.809052,0.536959